*
{
	font-family: Meiryo;
}

body
{
	text-align: center;
	margin-top: 30px;
}

#text
{
	width: 400px;
	height: 200px;
	border-radius: 2px;
	font-size: 14px;
	resize: none;
	outline: none;
}

span.good
{
	color: red;
}